<?xml version="1.0" encoding="UTF-8"?>

<Configuration
	xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN"
	monitorInterval="30">

	<Properties>
		<Property name="LOG_PATTERN">%d{HH:mm:ss} [thread_id="%tid"] - (%p) - [%c] %m%n</Property>
		<Property name="APP_LOG_ROOT">.</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		
		<RollingFile name="appLog"
			fileName="${APP_LOG_ROOT}/logs/logError.log"
			filePattern="${APP_LOG_ROOT}/logs/logError-%d{yyyy-MM-dd}.log"
			ignoreExceptions="false">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="uy.com" additivity="false" level="info"> 
			<AppenderRef ref="appLog" /> 
			<AppenderRef ref="Console" /> 
		</Logger>
		
		<Logger name="uy.com" additivity="false" level="info"> 
			<AppenderRef ref="appLog" /> 
			<AppenderRef ref="Console" /> 
		</Logger>
		
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="appLog" />
		</Root>
	</Loggers>
</Configuration>